<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" version="0.10.13" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.3" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="eclipse" version="4.10" />
  <package id="jdk8" version="8.0.201" />
  <package id="maven" version="3.6.0" />
  <package id="postman" version="7.0.6" />
  <package id="openshift-cli" version="3.11.0" />
</packages>